absl-py==0.12.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
alembic==1.4.1
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==2.0.1
analytics-python==1.2.9
appdirs==1.4.4
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1618947141331/work
astor==0.8.1
astroid==2.5.3
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8==1.5.6
azure-core==1.10.0
azure-storage-blob==12.7.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
bamboolib==1.22.2
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bleach==3.3.0
blessings==1.7
blis==0.7.4
bokeh==2.2.3
boto3==1.4.8
botocore==1.8.50
branca==0.4.2
bravado==11.0.2
bravado-core==5.17.0
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.1
calplot==0.1.7.3
catalogue==2.0.1
catboost==0.24.4
certifi==2020.12.5
cffi==1.14.5
cftime==1.3.1
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
clyent==1.2.2
cmake==3.18.4.post1
cmdstanpy==0.9.5
colorama==0.4.4
colorful==0.5.4
colorlover==0.3.0
combo==0.1.2
conda==4.10.1
conda-build==3.20.5
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018138503/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
configparser==5.0.1
confuse==1.3.0
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1615678826465/work
coverage==5.3.1
crayons==0.4.0
cryptography==2.9.2
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython @ file:///tmp/build/80754af9/cython_1618432038002/work
dacite==1.5.1
darts==0.7.0
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dask==2.19.0
databricks-cli==0.14.3
dataclasses==0.6
datatable==0.11.1
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.3
distributed==2.19.0
dlib==19.22.0
dm-tree==0.1.5
docker==4.4.4
docker-pycreds==0.4.0
docutils==0.16
eli5==0.11.0
entrypoints==0.3
ephem @ file:///home/conda/feedstock_root/build_artifacts/ephem_1602326511127/work
et-xmlfile==1.0.1
evdev==1.3.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastdtw==0.3.4
fastprogress==1.0.0
fasttext==0.9.2
fbprophet==0.7.1
filelock==3.0.12
flake8==3.9.1
Flask==1.1.2
Flask-Compress==1.9.0
flatbuffers==1.12
folium==0.12.1
fsspec==0.8.5
funcy==1.15
future==0.18.2
gast==0.3.3
gdown==3.12.2
gensim==3.8.3
gin-config==0.4.0
gitdb==4.0.5
GitPython==3.1.14
glob2==0.7
google-api-core==1.24.1
google-api-python-client==2.1.0
google-auth==1.27.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.3
google-cloud-bigquery==2.13.1
google-cloud-core==1.6.0
google-crc32c==1.1.2
google-images-download==2.8.0
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
GPUtil==1.4.0
graphframes==0.6
graphviz==0.16
greenlet==1.0.0
grpcio==1.32.0
gunicorn==20.0.4
h2o==3.32.0.5
h5py==2.10.0
haversine==2.3.0
HeapDict==1.0.1
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1612531902526/work
hiredis==1.1.0
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1617373843485/work
htmlmin==0.1.12
httplib2==0.19.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ImageHash==4.1.0
imageio==2.9.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
importlib-resources==5.1.2
iniconfig==1.1.1
install==1.3.4
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonpointer==2.0
jsonref==0.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-tabnine==1.1.0
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
kaggle==1.5.9
kaggle-environments==1.3.14
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322297326/work
kmodes==0.10.2
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
lazy-object-proxy==1.6.0
lesscpy==0.14.0
libarchive-c==2.9
lightgbm==3.1.1
lime==0.2.0.1
llvmlite==0.35.0
locket==0.2.0
LunarCalendar==0.0.9
lux-api==0.2.1.1
lux-widget==0.1.2
lxml==4.6.2
m2cgen==0.9.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib==3.4.1
mccabe==0.6.1
missingno==0.4.2
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mizani==0.7.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.14.1
mlxtend==0.18.0
modin==0.8.2
monotonic==1.5
msgpack==1.0.0
msrest==0.6.21
multidict==5.1.0
multitasking==0.0.9
murmurhash==1.0.5
navigator-updater==0.2.1
nb-conda==2.2.1
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1600445339329/work
nbclient==0.5.3
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914821128/work
nbformat==5.1.2
neptune-client==0.4.125
neptune-notebooks==0.0.16
nest-asyncio==1.5.1
netCDF4 @ file:///tmp/build/80754af9/netcdf4_1613683459594/work
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.2.0
numba==0.52.0
numerapi==2.4.4
numerox==4.1.8
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.11
opencensus-context==0.1.2
opencv-python==4.5.3.56
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
palettable==3.3.0
pandarallel==1.5.1
pandas==1.2.3
pandas-bokeh==0.5.2
pandas-profiling==2.9.0
pandocfilters==1.4.3
parso==0.8.1
partd==1.1.0
path==15.0.0
path.py==12.5.0
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
phik==0.10.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
Pillow==8.1.2
pkginfo==1.6.0
plac==1.1.3
plotly==4.12.0
plotnine==0.7.1
pluggy==0.13.1
plumbum==1.6.9
pmdarima==1.8.0
ppscore==1.2.0
preshed==3.0.5
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.1
promise==2.3
prompt-toolkit==3.0.17
proto-plus==1.18.1
protobuf==3.15.6
psutil @ file:///tmp/build/80754af9/psutil_1598370249042/work
psycopg2==2.8.6
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==7.0.0
py-spy==0.3.3
py3nvml==0.2.6
py4j==0.10.9
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.6.2
pycaret==2.2.3
pycocotools==2.0.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydantic==1.7.3
pydocstyle==6.0.0
pydub==0.25.1
pyflakes==2.2.0
Pygments==2.8.1
PyJWT==1.7.1
pyLDAvis==2.1.2
pylint==2.7.4
pymc3==3.11.0
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
pynndescent==0.5.1
pynput==1.7.1
pyod==0.8.6
PyOpenGL==3.1.1a1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyproj==3.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141707582/work
PySide2==5.15.2
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pyspark==3.0.1
pystan @ file:///home/conda/feedstock_root/build_artifacts/pystan_1598392733373/work
pytest==6.2.1
pytest-cov==2.11.0
python-dateutil==2.8.1
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==4.0.1
python-xlib==0.28
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzbar==0.1.8
pyzmq==22.0.3
qgrid==1.3.1
qtconsole==5.0.1
QtPy==1.9.0
querystring-parser==1.2.4
ray==1.1.0
redis==3.5.3
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3987==1.3.8
rope==0.19.0
rpyc==4.1.5
rsa==4.7.2
ruamel-yaml==0.15.87
s3transfer==0.1.13
sacremoses==0.0.43
scikit-image==0.18.1
scikit-learn==0.24.1
scikit-network==0.23.1
scikit-plot==0.3.7
scipy==1.6.2
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==0.19.4
seqeval==1.2.2
setuptools-git==1.2
shap==0.38.1
shiboken2==5.15.2
shiboken2-generator==5.15.2
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sklearn-porter==0.7.4
sktime==0.6.0
slicer==0.0.7
slugify==0.0.1
smart-open==3.0.0
smmap==3.0.5
snowballstemmer==2.1.0
sortedcontainers==2.3.0
soupsieve==2.0.1
spacy==3.0.5
spacy-legacy==3.0.1
sparkdl==0.2.2
SpeechRecognition==3.8.1
SQLAlchemy==1.4.1
sqlparse==0.4.1
srsly==2.4.0
statsmodels==0.12.2
strict-rfc3339==0.7
style==1.1.0
subprocess32==3.5.4
suod==0.0.6
swagger-spec-validator==2.7.3
swifter==1.0.7
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.0.6
tblib==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.2.0
tensorflow-docs @ git+https://github.com/tensorflow/docs@2af7ad07ad4d26f3bae069e055bb02187204576f
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.29.0
tensorflow-model-optimization==0.5.0
tensorflow-ranking==0.3.3
tensorflow-recommenders==0.4.0
tensorflow-serving-api==2.4.1
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tf-models-official==2.4.0
tf-slim==1.1.0
Theano-PyMC==1.1.0
thinc==8.0.2
threadpoolctl==2.1.0
tifffile==2021.3.17
tokenizers==0.9.4
toml==0.10.2
toolz==0.11.1
torch==1.8.1
tornado==6.1
tqdm==4.60.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
transformers==4.2.2
tweepy==3.10.0
twitter==1.19.3
typed-ast==1.4.3
typeguard==2.12.0
typer==0.3.2
typing-extensions==3.7.4.3
ujson==4.0.2
umap-learn==0.5.0
update==0.0.1
uritemplate==3.0.1
urllib3==1.26.3
vaderSentiment==3.3.2
visions==0.5.0
wandb==0.10.11
wasabi==0.8.1
watchdog==0.10.4
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webcolors==1.11.1
webdriver-manager==3.4.2
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wikipedia==1.4.0
wordcloud==1.8.1
wrapt==1.12.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1614346479764/work
xgboost==1.3.3
xlrd==2.0.1
xmltodict==0.12.0
yapf==0.31.0
yarl==1.6.3
yellowbrick==1.2.1
yfinance==0.1.55
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
